body {
    margin: 0px auto;
    text-align: center;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
}

.heading {
    color: white;
    background: #AE6AC5;
}

.heading-content {
    margin: auto;
    padding: .75em;
}

nav ul, footer ul {
    padding: 0px;
    list-style: none;
    font-weight: bold;
}
nav ul li, footer ul li {
    display: inline;
    margin-right: 20px;
}
a {
    text-decoration: none;
    color: #4A4A4A;
}
a:hover {
    text-decoration: underline;
}
h1 {
    font-size: 3em;
}
h2 {
    color: #AE6AC5;
}
p {
    font-size: 1.5em;
    line-height: 1.4em;
    color: #333;
}
footer {
    border-top: 1px solid #d5d5d5;
    font-size: .8em;
}

ul.posts { 
    margin: 20px auto 40px; 
    font-size: 1.5em;
}

ul.posts li {
    list-style: none;
}

.read-more {
    text-align: right;
}

.img-responsive {
    width: 100%;
    height: auto;
}

.current {
    color: #AE6AC5
}

.container {
    margin: 60px auto;
    width: 70%;
    text-align: -webkit-left;
}