<!DOCTYPE html>
<html>
	<head>
		<!-- Global site tag (gtag.js) - Google Analytics -->
		<script async src="https://www.googletagmanager.com/gtag/js?id=UA-122179543-1"></script>
		<script>
			window.dataLayer = window.dataLayer || [];
			function gtag(){dataLayer.push(arguments);}
			gtag('js', new Date());
			gtag('config', 'UA-122179543-1');
		</script>
		<title>{{ page.title }}</title>
		<link rel="stylesheet" type="text/css" href="/css/main.css">
		
	</head>
	<body>
		{% assign current = page.url | downcase | split: '/' %}
		<nav>
    		<ul>
				<li><a href="/about" {% if current[1] == "about" %} class='current' {% endif %} >About</a></li>
				<li><a href="/blog">Blog</a></li>
				<li><a href="/experience">Experience</a></li>
				<li><a href="/education">Education</a></li>
				<li><a href="/projects">Projects</a></li>
    		</ul>
		</nav>
		<div class="container">
			
    		{{ content }}
			
		</div>
		<footer>
    		<ul>
        		<li><a href="mailto:pauline.m.kelly1@gmail.com">email me</a></li>
        		<li><a href="https://github.com/sebbenbear">github</a></li>
                <li><a href="https://twitter.com/Sebbenbear">twitter</a></li>
				<li><a href="https://www.linkedin.com/in/pauline-kelly-69594b51">linkedin</a></li>
				<li><a href="https://www.hackerrank.com/sebbenbear">hacker rank</a></li>
			</ul>
		</footer>
	</body>
</html>
